name: Build image

on:
  - push
concurrency:
  group: ${{ github.ref }}-ci
  cancel-in-progress: true

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    name: 'Build'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v4.0.0
        with:
          context: .
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            OPENTSDB_HOST=${{ vars.OPENTSDB_HOST }}
            LOKI_HOST=${{ vars.LOKI_HOST }}
            NEXT_PUBLIC_TRACKD_RELATIVE=${{ vars.NEXT_PUBLIC_TRACKD_RELATIVE }}
            FOO=bar
